<div class="modal__backdrop" *ngIf="showModal">
    <div class="modal__container">
        <div class="modal__title">
            <div>{{ title }}</div>
            <div class="modal__icon" (click)="onClose()">
                <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
            </div>
        </div>
        <div class="modal__message">{{ message }}</div>
        <div class="modal__actions">
            <div class="modal__btn">
                <app-button (click)="onClose()" buttonText="Close"></app-button>
            </div>
        </div>
    </div>
</div>