<div *ngFor="let course of courses">
    <app-course-card
    [title]="course.title"
    [description]="course.description"
    [creationDate]="course.creationDate"
    [duration]="course.duration"
    [authors]="course.authors"
    [editable]="editable"
    (clickOnShow)="handleShowCourse(course.id)">
    <app-button iconName= "trash" (click)="handleDeleteCourse(course.id)"></app-button>
    <app-button iconName= "pencil" (click)="handleEditCourse(course.id)"></app-button>
  </app-course-card>
  
</div>